body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  overflow: hidden;
}
.index {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 100%;
}
.preview {
  flex: 2;
  padding: 20px;
  overflow: auto;
}
.code {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
  overflow: auto;
}
.gif img {
  width: 100%;
  height: auto;
}

.title {
  font-size: 40px;
  font-weight: bold;
}

.description {
  margin-top: 20px;
  font-size: 22px;
  color: #757575;
}

.source {
  margin-top: 20px;
  font-size: 18px;
  color: #757575;
  margin-top: 10px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.outlined-button,
.tonal-button {
  padding: 10px 20px;
  border: 2px solid #2196f3;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 10px;
}

.outlined-button:hover,
.tonal-button:hover {
  background-color: rgba(33, 150, 243, 0.1);
}

.tonal-button {
  background-color: #2196f3;
  color: #fff;
}

.tonal-button:hover {
  background-color: #64b5f6;
}
